{% extends 'layout.html' %}

{% block stylesheet %}
{% if (env && env === 'production') %}
<link rel="stylesheet" href="/dist/style/about.min.css?_VER=0.2.0" />
{% else %}
<link rel="stylesheet" href="/src/style/icons.css" />
<link rel="stylesheet" href="/src/style/global.css" />
<link rel="stylesheet" href="/src/style/about.css" />
{% endif %}
{% endblock %}

{% block content %}
<div class="page-body clearfix">
    <h2>关于我</h2>
    <dl>
        <dt>个人信息</dt>
        <!-- <dd>英文名：dmyang</dd> -->
        <dd>工作相关：2013年毕业于广东海洋大学，软件工程专业，一直走在前端开发路上。 目前职位是前端开发（广州），爱编程，也爱发呆。</dd>
    </dl>

    <dl>
        <dt>爱好</dt>
        <dd>跟小伙伴们一起 大餐</dd>
        <dd>一个人躺沙发上看书，历史、哲学、编程等等</dd>
        <dd>一个人默默双开 玩炫斗</dd>
        <dd>喜宅，业余写写代码，无聊逛逛微博、朋友圈、豆瓣、知乎等～</dd>
    </dl>

    <dl>
        <dt>联系方式</dt>
        <dd>GitHub：<a href="https://github.com/wteam-xq3" target="_blank">wteam-xq3</a></dd>
        <dd>新浪微博：<a href="http://weibo.com/u/2126574834" target="_blank">wteam_小强</a></dd>
        <dd>QQ：<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=857609086&amp;site=qq&amp;menu=yes">857609086</a></dd>
        <dd>Email：<a href="javascript:void(0)">857609086@qq.com</a></dd>
    </dl>
</div>
{% endblock %}
